/* Mode terang (default) */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

h1 {
    text-align: center; /* Tetap align center */
    color: #333; /* Default warna hitam */
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-top: 10px;
}

input {
    padding: 8px;
    margin: 5px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button:hover {
    background-color: #45a049;
}

.explanation {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

/* Mode gelap */
body.dark-theme {
    background-color: #333;
    color: white;
}

.container.dark-theme {
    background-color: #444;
    color: white;
}

button.dark-theme {
    background-color: #555;
    color: white;
}

button.dark-theme:hover {
    background-color: #666;
}

h1.dark-theme, h2.dark-theme {
    color: white; /* Warna putih hanya untuk mode gelap */
}

label.dark-theme {
    color: white;
}

.explanation.dark-theme {
    background-color: #444;
    border: 1px solid #666;
}
